
.git
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/.DS_Store
**/.cache
**/.classpath
**/.dockerignore
**/.env
**/.gitignore
**/.next
**/.nuxt
**/.output
**/.project
**/.settings
**/.toolstarget
**/.vs
**/Dockerfile*
**/build
**/charts
**/compose.y*ml
**/dist
**/docker-compose*
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
*.dockerfile
Dockerfile
LICENSE
README.md
compose*.{yml,yaml}
docker-compose*.{yml,yaml}
node_modules