@tailwind base;
@tailwind components;
@tailwind utilities;



/* custom thin Scroll bar  */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #e47f83;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;

}

::-webkit-scrollbar-track {
    background: #f1f1f1;

}