@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-prosto {
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* custom thin Scroll bar  */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #e47f83;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;

}

::-webkit-scrollbar-track {
    background: #f1f1f1;

}